In [8]:
# Dependencies
import requests
from pprint import pprint
from config import api_key
import pandas as pd
from pprint import pprint

In [56]:
url = f"https://min-api.cryptocompare.com/data/v2/histohour?fsym=BTC&tsym=USD&limit=2000&toTs=1635876000&api_key={api_key}"
r = requests.get(url)
data = r.json()

In [57]:
df = pd.DataFrame(data['Data']['Data'])
df.head()

,time,high,low,open,volumefrom,volumeto,close,conversionType,conversionSymbol
0,1628676000,46387.36,45934.10,46116.65,1573.37,72581692.88,46083.67,direct,
1,1628679600,46255.74,45884.15,46083.67,1352.98,62344877.74,45946.07,direct,
2,1628683200,46146.13,45859.97,45946.07,1165.86,53609205.63,45995.30,direct,
3,1628686800,46503.80,45931.56,45995.30,1618.98,74938484.77,46293.28,direct,
4,1628690400,46676.14,46202.74,46293.28,1684.87,78306812.84,46516.55,direct,

In [61]:
maxTs = df.iloc[0]['time']
count = 0
# loop 4 times
while count < 4:
    # start one second before oldest ts
    maxTs -= 1
    # API call with the most recent ts
    url = f"https://min-api.cryptocompare.com/data/v2/histohour?fsym=BTC&tsym=USD&limit=2000&toTs={maxTs}&api_key={api_key}"
    r = requests.get(url)
    data = r.json()
    price_df = pd.DataFrame(data['Data']['Data'])
    df = df.append(price_df)
    count += 1

In [62]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 14007 entries, 0 to 2000
Data columns (total 9 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   time              14007 non-null  int64
 1   high              14007 non-null  float64
 2   low               14007 non-null  float64
 3   open              14007 non-null  float64
 4   volumefrom        14007 non-null  float64
 5   volumeto          14007 non-null  float64
 6   close             14007 non-null  float64
 7   conversionType    14007 non-null  object
 8   conversionSymbol  14007 non-null  object
dtypes: float64(6), int64(1), object(2)
memory usage: 1.1+ MB

In [63]:
df.head()

,time,high,low,open,volumefrom,volumeto,close,conversionType,conversionSymbol
0,1628676000,46387.36,45934.10,46116.65,1573.37,72581692.88,46083.67,direct,
1,1628679600,46255.74,45884.15,46083.67,1352.98,62344877.74,45946.07,direct,
2,1628683200,46146.13,45859.97,45946.07,1165.86,53609205.63,45995.30,direct,
3,1628686800,46503.80,45931.56,45995.30,1618.98,74938484.77,46293.28,direct,
4,1628690400,46676.14,46202.74,46293.28,1684.87,78306812.84,46516.55,direct,

In [65]:
Newdf = df[['time','high','low','open','volumefrom','volumeto','close','conversionType']].copy()
Newdf.head()

,time,high,low,open,volumefrom,volumeto,close,conversionType
0,1628676000,46387.36,45934.10,46116.65,1573.37,72581692.88,46083.67,direct
1,1628679600,46255.74,45884.15,46083.67,1352.98,62344877.74,45946.07,direct
2,1628683200,46146.13,45859.97,45946.07,1165.86,53609205.63,45995.30,direct
3,1628686800,46503.80,45931.56,45995.30,1618.98,74938484.77,46293.28,direct
4,1628690400,46676.14,46202.74,46293.28,1684.87,78306812.84,46516.55,direct

In [66]:
Newdf.dropna()

,time,high,low,open,volumefrom,volumeto,close,conversionType
0,1628676000,46387.36,45934.10,46116.65,1573.37,72581692.88,46083.67,direct
1,1628679600,46255.74,45884.15,46083.67,1352.98,62344877.74,45946.07,direct
2,1628683200,46146.13,45859.97,45946.07,1165.86,53609205.63,45995.30,direct
3,1628686800,46503.80,45931.56,45995.30,1618.98,74938484.77,46293.28,direct
4,1628690400,46676.14,46202.74,46293.28,1684.87,78306812.84,46516.55,direct
...,...,...,...,...,...,...,...,...
1996,1628658000,45884.13,45560.68,45627.31,700.05,32035180.56,45806.90,direct
1997,1628661600,46241.36,45806.64,45806.90,1764.88,81237315.28,46106.57,direct
1998,1628665200,46447.76,46104.00,46106.57,1509.72,69945281.35,46350.23,direct
1999,1628668800,46589.47,46026.93,46350.23,1418.05,65607385.34,46206.99,direct
2000,1628672400,46301.13,46045.74,46206.99,694.60,32087097.52,46116.65,direct

In [68]:
Newdf.to_csv('CryptoPrice.csv')