In [ ]:
import requests
api_key = "<api key>"

url = f"https://min-api.cryptocompare.com/data/v2/histohour?fsym=BTC&tsym=USD&limit=2000&toTs=1635876000&api_key={api_key}"
r = requests.get(url)
data = r.json()

In [13]:
import pandas as pd
from pprint import pprint

In [23]:
df = pd.DataFrame(data['Data']['Data'])
df.head()

,time,high,low,open,volumefrom,volumeto,close,conversionType,conversionSymbol
0,1628676000,46387.36,45934.10,46116.65,1573.37,72581692.88,46083.67,direct,
1,1628679600,46255.74,45884.15,46083.67,1352.98,62344877.74,45946.07,direct,
2,1628683200,46146.13,45859.97,45946.07,1165.86,53609205.63,45995.30,direct,
3,1628686800,46503.80,45931.56,45995.30,1618.98,74938484.77,46293.28,direct,
4,1628690400,46676.14,46202.74,46293.28,1684.87,78306812.84,46516.55,direct,